.feature {
  text-align: center;
}
.feature__title {
  font-family: "lifehack", sans-serif;
  font-weight: 500;
  color: #2f3234;
  font-size: rem(24px);
  padding-top: rem(36px);
}
.feature__text {
  font-size: rem(14px);
  font-family: "ubuntu", sans-serif;
  font-weight: 300;
  color: rgba(47, 50, 52, 0.8);
  line-height: 1.714;
  text-align: center;
}

.feature-img {
  display: flex;
  justify-content: center;
}