.footer{
    background: url("../img/background/footer.png") center center / cover no-repeat ;
    color: #ffffff;
    font-family: 'ubuntu', sans-serif;
    font-weight: 300;
    font-size: rem(14px);
    position: absolute;
    width: 100%;
    bottom:0;
   
}

