.order {
  background: url(../../img/background/order.png) center center/cover no-repeat;
}
.order__form {
  display: flex;
}
.order__form-left {
  flex: 1;
  margin-right: rem(20px);
}
.order__form-right {
  flex: 1;
}
.order__row {
  display: flex;
  margin-bottom: rem(14px);
}
.order__block {
  flex: 1;
  margin-right: rem(20px);
}
.order__block:last-child {
  margin-right: 0;
}
.order__title {
  margin-bottom: rem(5px);
  color: white;
  font-family: "ubuntu", sans-serif;
  font-size: rem(14px);
  font-weight: 300;
}
.order__input {
  width: 100%;
  padding: rem(8px) rem(20px);
  border: none;
  border-radius: rem(4px);
}