.review {
  position: relative;
  color: #fff;
}
.review:hover .review__hover {
  opacity: 1;
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.5);
}
.review__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.review__pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.review__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: scale(0.8);
  transition: 0.2s;
  color: white;
  font-size: rem(14px);
  vertical-align: center;
  padding: rem(50px) rem(20px);
}
.review__username {
  font-family: "gagalin", sans-serif;
  margin-bottom: rem(28px);
}
.review__message {
  font-family: "ubuntu", sans-serif;
  line-height: 1.714;
  margin-bottom: rem(18px);
}
.review__btn {
  border-radius: rem(5px);
  display: inline-block;
  padding: rem(12px) rem(14px);
  font-size: rem(13px);
  font-family: "ubuntu", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.review__btn, .review__btn:focus, .review__btn:visited {
  background-color: #2f3234;
  color: white;
  text-decoration: none;
}
.review__btn:hover, .review__btn:active {
  background-color: #1f2122;
  color: white;
  text-decoration: none;
}