.review {
    
    position: relative;
    color: #fff;
    
   
   
  
    &:hover {
      .review__hover {
          
        opacity: 1;
        transform: scale(1);
        background-color: rgb(0, 0, 0, 0.5);     
      }
    }
  
  
  &__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  &__pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  &__hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;
    opacity: 0;
    transform: scale(.8);
    transition: .2s;    
    color: rgb(255, 255, 255);
    font-size: 14px; 
    vertical-align: center;
    padding: 50px 20px;
  }

  &__username{
    font-family: "gagalin", sans-serif; 
    margin-bottom: 28px;
  }

  &__message{
    font-family: "ubuntu", sans-serif;    
    line-height: 1.714;  
    margin-bottom: 18px;
  }




  &__btn{
    border-radius: 5px;
    display: inline-block;
    padding: 12px 14px;
    font-size: 13px;
    font-family: 'ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    
    

    &,
    &:focus,
    &:visited{
        background-color: rgb(47, 50, 52);
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    &:hover,
    &:active{
        background-color: rgb(31, 33, 34);
        color: rgb(255, 255, 255);
        text-decoration: none;

    }
  }
}