.slider{
    background: rgb(248,177,59);
    background: linear-gradient(0deg, rgba(248,177,59,1) 0%, rgba(235,141,56,1) 50%, rgba(248,177,59,1) 100%);
    color:#fff;
    
    &__composition{
        background-color: #f08c33;
        border-radius: rem(5px);
        width: rem(90px);
        height: rem(90px);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
           
          &:hover{
            background-color: rgb(227, 80, 40);
          }

          &:hover .composition{
              display: block;
          }

        @include tablets{   
            top:rem(0px);
        }
        @include phones{   
            
            top:rem(0px);
            left:rem(0px);
        }
    }
      
    &__desc{
        margin-bottom: rem(36px);
        font-family: 'ubuntu', sans-serif;
        font-weight: 300;
        font-size: rem(14px);
        line-height: 1.714;   
    }

    &__price{
        font-size: rem(30px);
        font-family: "gagalin", sans-serif;
        color: rgb(227, 80, 40);
        line-height: 0.39;
        text-transform: uppercase;
        @include phones{   
            font-size: rem(24px);
        }
        @include phones{
            padding-left: 15%;
           
        }
            
    }

    &__caps{
        font-size: rem(72px);
        @include phones{   
            font-size: rem(50px);
        }
        
    }

    &__price-btn{
        display: flex;
        align-items: center;
        position: relative;

        @include tablets{
            padding: 0 23%;
           
        }
        @include phones{
            padding: 0 0;
        }
    }

    &__btn{
        position: absolute;
        left: rem(230px);
        top:rem(12px);
        @include tablets{
           left: rem(360px);
        }
        @include phones{
            left:rem(224px);
            top:rem(0px);

        }
    }

    &__kkal{
        width: rem(61px);
        opacity: 0.502;   
        font-size: rem(14px);
        font-family: "gagalin";
        text-transform: uppercase;
        position: relative; 

        @include tablets{
            top:rem(0px);
            right:rem(0px);
            position: absolute;
        }
    }

    &__window{
        display: flex;
        overflow: hidden;
        margin: 0 rem(10px);
        @include tablets{
            max-width: rem(644px);  
        } 
    }

    &__item{
        display: flex;
        flex: 0 0 100%; 
        max-width: 100%;

        @include tablets{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            }
    }

    &__img{
        max-width: 100%;
    }
}



.kkal{
    width: 60px;
    height: 61px;

    &__number{
        font-size: rem(20px);
        position: absolute;
        top:rem(28px);
        left:rem(13px);   
    }

    &__name{
        position: absolute;
        left:rem(15px);
    }
    
}

.container__slider{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.right__col{
    width: 50%;
    margin-left: rem(20px);

    @include tablets{
        width: 100%;
        text-align: center;
       
        }
}

.left__col{
    width: 50%;

    @include tablets{
        position: relative;
        width: 80%;
        padding-bottom: 2%;
        }
        @include phones{   
            width: 100%;
        }
}