.contacts{
    display: flex;
    justify-content: space-between;
    @include phones{
        flex-direction: column;
        align-items: center;
        padding: rem(20px) 0;
    }

    &__adress{
        padding-top:rem(10px);
        padding-bottom: rem(15px);
        align-items: center;
        line-height: 1.714;
        @include phones{
            text-align: center;
        }
      
          
    }
}