.features{
    background: url("../images/img/features.png") center center / cover no-repeat;
    
}

.features__list{
    display: flex;
    justify-content: space-between;

    @include tablets{
        padding-top: 6%;
    }



    @include phones{
        flex-direction: column;
        padding: 2%;
        margin-top: 4%;
    }

}

.features__item{
    width: calc(100% / 3 - 10px);

    @include tablets {
        width: calc(100% / 3 - 10px);

    }
    @include phones{
        display: flex;
        width: 100%;
        padding-bottom: 8%;
        
        
     }
   
}