.food{
    background: url("../images/img/menu.png") center center / cover no-repeat;
    position: relative;

    @include phones{
        position: relative;
    }
    
}


.food__list{
    position: absolute;
    bottom: 0;
    right: 0;
    top:0;
    @include tablets{
        display: flex;
        justify-content: flex-end;
    }
    
}

.food__item{
    float: left;
    height: 100%;
    display: flex;
    justify-content: flex-end;
   
    
        &.open {
            @include phones{
                position: absolute;
        
                z-index: 2;
            }
           
            .food__title {
                color: $yellow;
            }

            .food__more{
                transition: width 1s;
                overflow: hidden;
                width: rem(540px);
               @include tablets{
                //    max-width: rem(528px);
                //    flex:1;
               }
               @include phones{
                   flex:.9;
               }
                
             
            }
        }
    
}

.food__link{
    width: rem(80px);
	display: block;
	height: 100%;
    float: left;
    position: relative;
    text-decoration: none;
    cursor: pointer;
   @include tablets{
       width: 80px;
   }
}

.food__title{
    color: #fff;
    font-family: 'gagalin', sans-serif;
    line-height: 1;
    font-size: rem(40px);
    text-decoration: none;
    text-align: center;
	white-space: nowrap;
    position: absolute;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    left: 50%;
    top: 100%;
    margin-top: -47%;
    @include tablets{
        font-size: 40px;
    }
    @include phones{
        margin-top: -76%;
    }
   
}

.food__more{
    height: 100%;
	float: left;
	background: rgba(#2f3234, .93);
	width: 0;
    overflow: hidden;
    position: relative;
   
}

.food__more-text{
    padding: rem(61px) rem(34px);
    display: block;
    font-size: rem(14px);
    font-family: 'ubuntu', sans-serif;
    color:#fff;
    font-weight: 300;
    line-height: 1.8;

}

.food__close{
    display: none;
    z-index: 10000;
    span{
        display: inline-block;
        width: rem(18px);
        height: rem(3px);
        border-radius: rem(2px);
        background-color:#fff;
        position: absolute;
        top: 3%;
        left: 95%;
                &:first-of-type{
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &:last-of-type{
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
        }
    @include phones{
        display: flex;
    }
   
}    





