.hero {
    background: url("./images/img/hero.png") center center / cover no-repeat;
    color:#fff;
    position: relative;
}

.hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hero__desc {
   font-size: rem(65px);
   font-family: 'lifehack', sans-serif; 
   line-height: 1;
   @include phones{
       line-height: 1.2;
       font-size: 52px;

   }
}

.hero__content {
    display: flex;
    align-items: center;
    flex: 0.8;

    @include tablets{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5% 10%;
        justify-items: center;
    }

    @include phones{
        padding: 6% 8%;
        width: 100%;

    }
}

.hero__text {
    width: 50%;
    padding-top: 0;
    padding-left:1%;
    @include tablets{
        width: auto;
        padding-top: 5%;
        padding-left: 0;
    }

}

.hero__img{
    @include phones{
        width: 92%;

    }
}

.hero__pic{
    padding-left: 2%;
    padding-bottom: 3%;
    @include tablets{
        padding-top: 4%;
        padding-left: 0;
        padding-bottom: 0;
    }
    @include phones{
        padding-top: 0;
    }
}