.order{
    background: url("./images/img/order.png") center center / cover no-repeat;
    
    &__form-left{
        width: 50%;
        margin-right: rem(20px);
        @include tablets{
            width: 100%;
            
        }
        @include phones{
            margin-right: 0;
        }
    }
    &__form-right{
        width: 50%;
        @include tablets{
            width: 100%;
            margin-top: 5%;
            
            
        }
        @include phones{
            margin-top: 2%;
        }
    }


    &__row{
        display: flex;
        margin-bottom: rem(14px);
        @include tablets{
            margin-bottom: 17px;
        }
        @include phones{
            margin-bottom: rem(16px);
        }

    }

    &__block{
        flex: 1;
        margin-right: rem(20px);
        @include phones{
            align-items: center;
            justify-content: center;
        }
        

         &:last-child{
             margin-right: 0;
        }
    }

    &__title{
        margin-bottom: rem(5px);
        color:white;
        font-family: 'ubuntu', sans-serif;
        font-size: rem(14px);
        font-weight: 300;
        @include tablets{
            font-size: 14px;
        }
        @include phones{
            font-size:14px;
        }
    }

    &__input {
        width: 100%;
        padding: rem(7px) rem(20px);
        outline: none;
        border: rem(2px) solid transparent;
        border-radius: rem(4px);
        margin-top: 2%;
        @include tablets{
            margin-top: 7px;
        }
        &:focus{
            border-color: $yellow;
        }
       
       

       
    }
    &__text{
        width: 100%;
        padding: rem(8px) rem(20px);
        outline: none;
        border: rem(2px) solid transparent;
        border-radius: rem(4px);
        resize: none;
        margin-top: 2%;
        @include tablets{
            margin-top: 7px;
        }

        &:focus{
            border-color: $yellow;
        }


    }
    &__submit{
        border-radius: rem(4px);
        border:none;
        background-color: #e45028;
        color:#fff;
        text-transform: uppercase;  
        font-family: 'ubuntu', sans-serif;
        font-weight: 500;
        font-size: rem(13px);
        padding: rem(13px) rem(17px);
        cursor: pointer;
        outline: none;
        @include phones{
            font-size: 14px;
        }
          
    }
    &__reset{
        color: #fff;
        font-weight: 300;
        font-family: 'ubuntu', sans-serif;
        font-size: rem(14px);
        background:transparent;
        border:none;
        margin-left:2%;
        margin-top: 3%;
        cursor: pointer;
        outline:none;
        @include tablets{
            margin-left: 3%;
            margin-top: 7%;
        }
        @include phones{
            font-size:14px;
            margin-left: 6%;
            margin-top: 17%;
        }

    }
    
    &__radio-styler{
        width: rem(15px);
        height: rem(15px);
        border-radius: 50%;
        background-color: #fff;
        margin-right: rem(10px);
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @include phones{
            width: rem(18px);
            height: rem(18px);
        }

        &:after{
        content: '';
        display: block;
        background-color: rgb(227, 80, 40);
        width: rem(7px);
        height: rem(7px);
        border-radius: 50%;
        position: absolute;
        flex: 0 0 auto;
        opacity: 0;
        @include phones{
            width: rem(8px);
            height: rem(8px);
        }
       
        }
    }
    &__radio:checked ~ .order__radio-styler{
        width: rem(15px);
        height: rem(15px);
        border-radius: 50%;
        background-color: #fff;
        @include phones{
            width: rem(18px);
            height: rem(18px);
        }
    }

    &__radio{
        display:inline-block;
        appearance: none;
        width: rem(15px);
        height: rem(15px);
        margin: 0 rem(-15px) rem(-15px) 0;
        opacity:0;
       
        
    }

    &__radio:checked ~ .order__radio-styler:after{
        opacity: 1;
    }
}

.order__form-tag{
    display: flex;
    @include tablets{
        flex-direction: column;
        padding: 3% 18% 20%;
    }
    @include phones{
        padding: 0;
    }
}

.radio__label{
    display: inline-block;
    margin-bottom: 0;
    @include phones{
        font-size: 14px;
    }

}

.st-radio{
    display: flex;
    align-items: center;
    margin-right: -27%;
    @include tablets{
        margin-right: -30%;
    }
   
    
}
.checkbox__block{
    display: flex;
    align-items: center;
    margin-top: 1%;

    & .order__title{
        margin-bottom: 0;
        margin-left: 9px;


    }
  
}

.order__checkbox{
    
 
    @include tablets{
        margin-bottom: rem(25px);
        margin-top: rem(10px);
    }
   
}


.order__row .checkbox__block{
    @include phones{
        padding: 0 35%;
       }
       @include phones{
           padding: 0 30%;
           margin-top: 5%;
       }

}

.row__radio{
    @include tablets{
        padding: 0;
    }
    @include phones{
        padding: 0;
        margin-top: 10%;
        padding-left: 1%;
       }
}
.order__button{
   
    @include phones{
        padding: 0 29%;
       }
}



.order__row .order__block-kv{
    @include phones{
        margin-right: 0;
    }
}
.order__row .order__block-del{
    @include phones{
        display: none;
        
    }
}

.error{
    color: orange;
}



.order__checkbox {
    display: none;
}
    
.order__checkbox-fake {
    display: block;
    height: 16px;
    width: 16px;
    background-color: #fff;
    position: relative;
}
    
.order__checkbox:checked ~ .order__checkbox-fake {
    background-color: #fff;
}
    
.order__checkbox-fake:after {
    content: "";
    position: absolute;
    display: none;
}
    
.order__checkbox:checked ~ .order__checkbox-fake:after {
    display: block;
}
    
.checkbox__block .order__checkbox-fake:after {
    top:4%;
    left:33%;
    width: 4px;
    height: 8px;
    border: solid #e45028;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
  