.review {
    position: relative;
    color: #fff;
    
    
    &:hover {
      .review__hover {
        opacity: 1;
        transform: scale(1);
        background-color: rgba(0, 0, 0, 0.6);     
      }
    }
  
  &__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  &__pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  &__hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;
    opacity: 0;
    transform: scale(.8);
    transition: .2s;    
    color: rgb(255, 255, 255);
    font-size: rem(14px); 
    vertical-align: center;
    padding: rem(50px) rem(20px);
    @include tablets{
        text-align: center;
        padding: rem(24px) rem(50px);
     }

     @include phones{
        padding:17%;
        
    }
  }

  &__username{
    font-family: "gagalin", sans-serif; 
    margin-bottom: 8%;
    font-size: 14px;
    @include tablets{
        margin-bottom: 4%;
        margin-top: 3%;

     }
     @include phones{
        font-size: 24px;
        margin-bottom: rem(30px);
        margin-top: 0;
    }
  }

  &__message{
    font-family: "ubuntu", sans-serif;    
    line-height: 1.724;  
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 4%;
    @include tablets{
        margin-bottom: 7%;
     }

     @include phones{
         display: none;
     }

    
  }




  &__btn{
    border-radius: rem(5px);
    display: inline-block;
    padding: rem(12px) rem(14px);
    font-size: rem(13px);
    font-family: 'ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;

    @include phones{
        display: none;
    }
   
    
    

    &,
    &:focus,
    &:visited{
        background-color: rgb(47, 50, 52);
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    &:hover,
    &:active{
        background-color: rgb(31, 33, 34);
        color: rgb(255, 255, 255);
        text-decoration: none;

    }
  }
}

.review__btn--mob{
    display: none;
    @include phones{
        border-radius: rem(5px);
        display: inline-block;
        padding: rem(10px) rem(16px);
        font-size: rem(14px);
        font-family: 'ubuntu', sans-serif;
        text-transform: uppercase;
        text-align: center;
        

    }
}