.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablets{
        padding-right: 2%;
    }
    @include phones{
        justify-content: center;
        
    }

    &__link{
        margin-left: rem(20px);
        text-decoration: none;
        color:#5a5a5a;
        &:first-child{
            margin-left: 0;
        }
        
        
       
    }
    &__link:hover{
        color:#fff;
    }
}


.icon-vk,
.icon-fb,
.icon-inst,
.icon-twitter{
    font-size: rem(20px);
}




