.team{
    background: url("../images/img/team.png") center center / cover no-repeat ;
    background-size: cover;
    position: relative;
}

.container-team{
    position: absolute;
    background: rgba(45,47,49,0.8);
    width: 50%;
    height: 100%;
    left:50%;
    top:0;

    @include tablets{
        width: 100%;
        left: 0;

    }
}

.team__content{
    margin-top: 0;
    margin-left: 18%;

    @include tablets{
        text-align: center;
        padding: 30% 15%;
        margin-top: 0;
        margin-left: 0;
    }

    @include phones{
        padding:32% 0;
    }


}


.team__name{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: 'gagalin', sans-serif;
    padding-bottom: 4%;
    cursor: pointer;
    font-size:14px;
    

    @include tablets{
        display: inline-flex;
        font-size: 25px;
    }

    &:before {
        content: ""; 
         display: inline-block;
         border: rem(4px) solid transparent; 
         border-top: rem(6px) solid $yellow;
         position: absolute;
         transition: transform .5s;
         top:rem(8px);
         left:rem(-17px);
        
   }

}

.is-open .team__name:before{
    content: ""; 
    display: inline-block;
    border: rem(4px) solid transparent; 
    border-bottom: rem(6px) solid $yellow;
    position: absolute;
    transition: transform .5s;
    top:rem(4px);
    left:rem(-17px);
   
}

.is-open .team__name  {
    color:$yellow;
    padding-bottom: rem(17px);
    @include tablets{
        padding-bottom: 0;
    }
}

.is-open .more {
    height: 100%;
    padding-bottom: rem(40px);
    @include tablets{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
   
}


.more{
    display: flex;
    color:white;
    font-family: 'ubuntu', sans-serif;
    font-size: 14px;
    height: 0;
    overflow: hidden;
  
}

.more__content{   
    line-height: 1.714;   
    font-weight: 300;
    margin-right: 14%;
    @include tablets{
        margin-right: 6%;
        margin-bottom: -5%;
        padding: 0 11%;
    }
   
}

.more__avatar{
    &-img{
       max-width: 188%;
    }
    border-radius: 50%; 
    padding-right: 16%;
    @include tablets{
       padding-right: 0;
      
       padding-top: 2%;
       margin-left: -5%;
    }
}




.more__title{
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    margin-bottom: 4%;
    margin-top: 1%;
    @include tablets{
        margin-top: 3%;
    }
   
}

.accordeon{
    padding: 4%;
    @include tablets{
        padding-left: 8%;
    }
    @include phones{
        padding: 0;
    }
}

.team__item{
    padding-bottom: 2%;
    padding-top: 1%;
    @include phones{
        padding-top: 2%;
    }
}

.team__list{
    @include phones{
        padding-left: 4%;
    }
}